:root {
      /* color */
      --white: #FFFFFF;
      --slate-300: #D5E1EF;
      --slate-500: #68778D;
      --slate-900: #1F314F;
      /* --blue-500: #2C7DFA;
      --blue-600: #3685FF; */
      /* spacing */
      --spacing-200: 1rem;
      --spacing-300: 1.5rem;
      --spacing-500: 2.5rem;
      /* font-size */
      --font-size-15: .938rem;
      --font-size-22: 1.375rem;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--slate-300);
    text-align: center;
    font-family: "Outfit", sans-serif;
}
.text-preset-1 {
    font-size: var(--font-size-22);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    color: var(--slate-900);
}
.text-preset-2 {
    font-size: var(--font-size-15);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--slate-500);
}
.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    box-sizing: border-box;
    width: 20rem;
    border-radius: 1.25rem;
    background-color: var(--white);
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    box-shadow: 0 1.563rem 1.563rem 0 rgba(0, 0, 0, .0477);
}
.img-container {
    width: 18rem;
    height: 18rem;
    background-color: var(--white);
    border-radius: .625rem;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: auto;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding: 0 var(--spacing-200);
}
@media only screen and (min-width: 20rem) {
    .card {
        transform: translate(-50%, -50%) scale(0.7);
    }
}
@media only screen and (min-width: 48rem) {
    .card {
        transform: translate(-50%, -50%) scale(0.8);
    }
}
@media only screen and (min-width: 64rem) {
    .card {
    transform: translate(-50%, -50%) scale(1);
    }
}
